.section--about {
  background: #3fcbff;
  .section-layer {
    padding-top: 4.6rem;
    padding-bottom: 4.6rem;
  }

  .cards-list {
    display: flex;
    justify-content: space-between;
    gap: 1.8rem;
    margin-bottom: 2.6rem;
  }
  .btns-box {
    text-align: center;
    .btn {
      background: #fff;
      color: #000;
      border: none;
      margin: 0;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  .card {
    background: #fff;
    border-radius: 1rem;
    overflow: hidden;
    padding: 1.8rem;
    flex: 25%;
    margin-bottom: 1rem;
    &__pic {
      max-width: 6.4rem;
      height: 6.4rem;
      margin-bottom: 1.8rem;
      img {
        display: block;
        max-height: 100%;
      }
    }
    &__title {
      margin-bottom: 1rem;
      font: 700 1.6rem/1.38 $font1;
    }
    &__text {
      font: 400 1.6rem/1.38 $font1;
    }
  }

  @media (max-width: 600px) {
    .section-layer {
      padding-top: 3.6rem;
      padding-bottom: 3.6rem;
    }

    .cards-list {
      flex-direction: column;
      gap: 1.2rem;
      margin-bottom: 3.2rem;
    }
    .card {
      flex: 100% 0 0;
      margin-bottom: 0;
      padding: 1.8rem;
      //display: flex;flex-wrap: wrap;
      //flex-direction: row;
      &__pic {
        flex: 4.4rem 0 0;
        position: absolute;
        max-width: 4.4rem;
        height: 4.4rem;
      }
      &__title {
        flex: 70% 0 0;
        margin-left: 20%;
      }
      &__text {
        flex: 70% 0 1;
        margin-left: 20%;
      }
    }
  }
}
